.btn-success{
    background-color: aqua;
}

.carousel{
    width: 50%;
    height: 50%;
}

.accordion{
    margin: 5em;
}

.myclass {
    margin: 20px;
}

p {
    border: 5px solid black;
    margin-top: 15px;
}

form {
    text-align: center;
}

input {
    font-size: 20px;
    font-family: sans-serif;
    padding:10px;
    margin:10px;
}

#mysearchbar {
    width:700px;
}